body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    font-family: 'Lato bold', sans-serif;
    text-transform: uppercase;
    margin-top: 25px;
}

.select {
    margin: 20px;
    color: grey;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-decoration: none;
}

.select:hover {
    color: #333;
    transition: color .2s linear;
}

.select.active:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    vertical-align: middle;
    box-sizing: border-box;
    background: #333;
    margin:0 10px;
}

.select.active {
    color: #333;
}

.logo {
    height: 35px;
    width: 131px;
    margin-top: 20px;
}

.select span {
    height: 14px;
    width: 14px;
    display: block;
    position: relative;
}

.lupa:before,
.lupa:after {
    content: '';
    height: 7px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.lupa:before {
    width: 7px;
    border: 1.5px grey solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.lupa:after {
    width: 1px;
    background: grey;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: 6px;
    left: 9px;
}

.slider {
    background: url("../img/slide1.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
}

.text {
    display: flex;
    align-items: center;
}

.text1 {
    font-size: 48px;
    background-color: #000;
    color: #fff;
    font-family: 'Lato', bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 50%;
}

.text2 {
    font-size: 18px;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 30px;
}

.buttonLeft {
    content: '';
    height: 30px;
    display: block;
    position: absolute;
    top: 400px;
    left: 110px;
    width: 30px;
    border: 1.5px #fff solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.buttonArrow1 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    color: #fff;
    background-color: #fff;
    top: 411px;
    left: 120px;
}
.buttonArrow2 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    color: #fff;
    background-color: #fff;
    top: 419px;
    left: 120px;
}
.buttonRight {
    content: '';
    height: 30px;
    display: block;
    position: absolute;
    top: 400px;
    right: 110px;
    width: 30px;
    border: 1.5px #fff solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.buttonArrow3 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    color: #fff;
    background-color: #fff;
    top: 411px;
    right: 120px;
}
.buttonArrow4 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    color: #fff;
    background-color: #fff;
    top: 419px;
    right: 120px;
}
.buttonLeft:hover,
.buttonRight:hover {
    background: #000;
}
.pointerL,
.pointerR,
.pointerC {
    content: '';
    height: 20px;
    display: block;
    position: absolute;
    width: 20px;
    border: 1.5px #000 solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #000;
}
.pointerL {
    top: 95vh;
    left: 45%;
    background: #fff;
    border: 1.5px #fff solid;
}
.pointerC {
    top: 95vh;
    left: 50%;
}
.pointerR {
    top: 95vh;
    left: 55%;
    background: #fff;
    border: 1.5px #fff solid;
}
.pointerCactive {
    content: '';
    height: 8px;
    display: block;
    position: absolute;
    width: 8px;
    border: 1.5px #fff solid;
    border-radius: 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 50%;
    background: #fff;
    margin: 5px;
}
.tablets {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.tablets:after {
    content: '';
    width: 100%;
    max-width: 1140px;
    height: 1px;
    background: #e1e1e1;
    display: block;
    position: absolute;
    margin-top: 45px;
}
.tablets:before {
    content: '';
    width: 100%;
    max-width: 1140px;
    height: 1px;
    background: #e1e1e1;
    display: block;
    position: absolute;
}
.tab {
    font-family: Roboto, bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px 0;
    color: #e1e1e1;

}
.tab:hover {
    color: #333;
    transition: color .2s linear;
}
.tab.active {
    color:#333;
}
.tab:after{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    color: #e1e1e1;
    background-color: #e1e1e1;
}